* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 4, 255, 0.534);
    height: 500vh;
}


body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}


body::-webkit-scrollbar-thumb {
    background-color: #078fff;
    background: linear-gradient(to bottom, rgb(0, 153, 255), blue);
}


.nav-container {
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    background-color: rgba(0, 0, 0, 0.288);
    padding: 1%;
}

.navbar {
    width: 70%;
    z-index: 2;
    filter: none !important;
}

@media (max-width: 800px) {
    .navbar {
        width: 100%;
    }
}

.brand-name{
    color: rgb(95, 65, 228);
}