<div class="container-fluid main-container">

  <nav class="nav-container w-100 d-flex align-tems-center justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">

        <a class="navbar-brand" href="https://github.com/sukantahui">
          <img src="codernaccotax.png" alt="Logo" class="rounded-circle" width="40" height="40">
          <span class="brand-name ms-2"><strong>CNAT</strong></span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav nav-list ms-auto">
            <li class="nav-item">
              <a class="nav-link text-dark" href="login.php"><strong>LOGIN</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link  text-dark" href="signUp.php"><strong>SIGN UP</strong></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </nav>

  <div class="w-100 check-fluid">
    <div class="content">
      <div class="text"></div>
    </div>

  </div>